[submodule "third-party/vendor/de/skycoder42/qhotkey"]
	path = third-party/vendor/de/skycoder42/qhotkey
	url = https://github.com/Skycoder42/QHotkey

[submodule "third-party/vendor/de/skycoder42/qsingleinstance"]
	path = third-party/vendor/de/skycoder42/qsingleinstance
	url = https://github.com/Skycoder42/QSingleInstance

[submodule "third-party/lz4"]
	path = third-party/lz4
	url = https://github.com/lz4/lz4

[submodule "third-party/vendor/de/skycoder42/qtaskbarcontrol"]
	path = third-party/vendor/de/skycoder42/qtaskbarcontrol
	url = https://github.com/Skycoder42/QTaskbarControl
